<main>
    <h1 class="greeting">Hello, to TaskList!</h1>
    <span>
        <a href="/sign-in"><button class="auth-button">Sign In</button></a>
        <a href="/sign-up"><button class="auth-button">Sign Up</button></a>
    </span>
</main>