<h1>SignUp</h1>

<form action="" method="POST" class="auth-form">
    {{#if errorMessage}}
    <h4 class="error">{{errorMessage}}</h4>
    {{/if}}

    <label for="email">Email</label>
    <input type="email" name="email" required placeholder="Type your email">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Type your password">
    <input type="submit" name="form" value="SignUp">
</form>